@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
}

@layer base {
  * {
    @apply text-dagger4;
  }

  h1 {
    @apply text-5xl;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {}

  h5 {}

  p {
    @apply text-base;
  }

  button {
    @apply text-dagger4;
    @apply bg-dagger1;
    @apply border;
    @apply border-solid;
    @apply border-dagger2;
    @apply rounded-xl;
    @apply text-xs;
    @apply px-4;
    @apply py-2;
  }

  button:hover {
    @apply opacity-50;
  }

  a {
    @apply text-blue-600;
  }

  a:hover {
    @apply underline;
    @apply opacity-50;
  }

  table {
    @apply w-full;
  }

  th {
    @apply p-4;
    @apply text-dagger3;
    @apply text-xs;
    @apply font-bold;
  }

  tbody tr {
    @apply border-t;
    @apply border-dagger2;
    @apply border-solid;
    @apply cursor-pointer;
  }

  tbody tr:hover {
    @apply bg-dagger2;
  }

  td {
    @apply p-4;
  }

  tbody {}

  @screen md {}

  @screen lg {}

  @screen xl {}
}